.switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 24px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    outline: 1px solid #CCCCCC;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    left: 29px;

    bottom: 3px;
    background: #F4F4F4;
    border: 1px solid #CCCCCC;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked+.slider {
    background-color: #7A5CFA;
}

input:checked+.slider:before {
    -webkit-transform: translateX(-26px);
    -ms-transform: translateX(-26px);
    transform: translateX(-26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}